.buttons-design2{
    border: #3751FF;
    background-color: #3751FF;
    border-radius: 20px;
    padding: 2px 15px 5px 15px;
}

.buttons-design{
    border:2px solid #3751FF ;
    border-radius: 20px;

}
.buttons-design:hover{
    background-color: #3751FF;
    color: white;
}

.buttons-design2:hover{
    color: black;
    background-color: white;
    border: 1px solid #3751FF ;

}
.visa-heading{
    color: #3751FF;
}
.input-border{
    border-color: #3751FF;
    border: 1px solid #3751FF;
}

.from-box{
    width: 100%;
    border: 1px solid #F2F3F7;
    background-color: #F2F3F7;
    border-radius: 10px;
}